@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none; 
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100vw; /*toda a largura e altura da tela */
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden; /*não terá a barra horizontal */
}

.content {
    
}